@import "../../../../vendor/filament/filament/resources/css/theme.css";
@plugin "@tailwindcss/typography";

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

@source '../../../../app/Livewire/**/*';
@source '../../../../resources/views/livewire/**/*';
@source '../../../../resources/views/components/**/*';

@source '../../../../vendor/gboquizosanchez/filament-log-viewer/resources/views/**/*.blade.php';
@source '../../../../vendor/jeffgreco13/filament-breezy/resources/**/*';
@source '../../../../vendor/defstudio/filament-searchable-input/resources/**/*.blade.php';

.fi-ta-ctn-with-header {
    @apply relative;
}

.custom-bg {
    background-image: linear-gradient(
            135deg,
            rgb(255 255 255 / var(--glass-opacity, 30%)),
            #0000
        ),
        linear-gradient(
            var(--glass-reflex-degree, 100deg),
            rgb(255 255 255 / var(--glass-reflex-opacity, 10%)) 25%,
            rgb(0 0 0 / 0%) 25%
        );

    @apply absolute inset-0 justify-center items-center z-30 hidden bg-transparent backdrop-blur-xs transition-all;
}

/**---------------------------------------------------------------------------------------------------------------**/

.screen-lock-overlay {
    @apply fixed inset-0 bg-black/95 z-50 flex justify-center items-center;
}

.screen-lock-box {
    @apply p-6 bg-gray-800 rounded shadow-lg text-white text-center w-96;
}

.screen-lock-title {
    @apply text-2xl mb-4;
}

.screen-lock-error {
    @apply mt-2 text-red-500;
}

/**---------------------------------------------Tailwind Prose------------------------------------------**/
@utility prose-pink {
  --tw-prose-body: var(--color-pink-800);
  --tw-prose-headings: var(--color-pink-900);
  --tw-prose-lead: var(--color-pink-700);
  --tw-prose-links: var(--color-pink-900);
  --tw-prose-bold: var(--color-pink-900);
  --tw-prose-counters: var(--color-pink-600);
  --tw-prose-bullets: var(--color-pink-400);
  --tw-prose-hr: var(--color-pink-300);
  --tw-prose-quotes: var(--color-pink-900);
  --tw-prose-quote-borders: var(--color-pink-300);
  --tw-prose-captions: var(--color-pink-700);
  --tw-prose-code: var(--color-pink-900);
  --tw-prose-pre-code: var(--color-pink-100);
  --tw-prose-pre-bg: var(--color-pink-900);
  --tw-prose-th-borders: var(--color-pink-300);
  --tw-prose-td-borders: var(--color-pink-200);
  --tw-prose-invert-body: var(--color-pink-200);
  --tw-prose-invert-headings: var(--color-white);
  --tw-prose-invert-lead: var(--color-pink-300);
  --tw-prose-invert-links: var(--color-white);
  --tw-prose-invert-bold: var(--color-white);
  --tw-prose-invert-counters: var(--color-pink-400);
  --tw-prose-invert-bullets: var(--color-pink-600);
  --tw-prose-invert-hr: var(--color-pink-700);
  --tw-prose-invert-quotes: var(--color-pink-100);
  --tw-prose-invert-quote-borders: var(--color-pink-700);
  --tw-prose-invert-captions: var(--color-pink-400);
  --tw-prose-invert-code: var(--color-white);
  --tw-prose-invert-pre-code: var(--color-pink-300);
  --tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
  --tw-prose-invert-th-borders: var(--color-pink-600);
  --tw-prose-invert-td-borders: var(--color-pink-700);
}

@utility prose-multicolor {
  --tw-prose-body: var(--color-slate-700);
  --tw-prose-headings: var(--color-pink-600);
  --tw-prose-lead: var(--color-rose-600);
  --tw-prose-links: var(--color-blue-600);
  --tw-prose-bold: var(--color-emerald-700);
  --tw-prose-counters: var(--color-amber-600);
  --tw-prose-bullets: var(--color-rose-400);
  --tw-prose-hr: var(--color-slate-300);
  --tw-prose-quotes: var(--color-emerald-800);
  --tw-prose-quote-borders: var(--color-emerald-300);
  --tw-prose-captions: var(--color-slate-500);
  --tw-prose-code: var(--color-amber-700);
  --tw-prose-pre-code: var(--color-amber-100);
  --tw-prose-pre-bg: var(--color-slate-900);
  --tw-prose-th-borders: var(--color-slate-300);
  --tw-prose-td-borders: var(--color-slate-200);
  --tw-prose-invert-body: var(--color-slate-200);
  --tw-prose-invert-headings: var(--color-pink-400);
  --tw-prose-invert-lead: var(--color-rose-300);
  --tw-prose-invert-links: var(--color-blue-400);
  --tw-prose-invert-bold: var(--color-emerald-400);
  --tw-prose-invert-counters: var(--color-amber-400);
  --tw-prose-invert-bullets: var(--color-rose-600);
  --tw-prose-invert-hr: var(--color-slate-600);
  --tw-prose-invert-quotes: var(--color-emerald-300);
  --tw-prose-invert-quote-borders: var(--color-emerald-600);
  --tw-prose-invert-captions: var(--color-slate-400);
  --tw-prose-invert-code: var(--color-amber-300);
  --tw-prose-invert-pre-code: var(--color-amber-200);
  --tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
  --tw-prose-invert-th-borders: var(--color-slate-700);
  --tw-prose-invert-td-borders: var(--color-slate-800);
}
